<<<<<<< HEAD
/* styles/globals.css */
=======
>>>>>>> cc0f8936d1bfc6ac1b958e84a090dabc6aa93d67
@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* Define the CSS variables */
:root {
  --background: #f0f0f0; /* Set your background color */
  --foreground: #333333; /* Set your foreground color */
=======
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> cc0f8936d1bfc6ac1b958e84a090dabc6aa93d67
}
